<div class="row top-menu">
	<div class="col-md-6">
      <a class="navbar-brand" href="{{url_for('showCoffeeShops')}}">
        <img class="brand-img" src="{{ url_for('static', filename='images/eDKLogo.png') }}" alt="EveryDayKenneth Logo">
      </a>
	</div>
	<div class="col-md-6 text-right">
					<!-- <p>Login Link will go Here </p> -->
			  {% if 'username' not in session %}
		      <a href="{{url_for('showLogin')}}" class="">
		        <button type="button" class="btn btn-default navbar-btn">
		        Log In
		        </button>
		      </a>
		      {% else %}
		      <a href="{{url_for('disconnect')}}" class="navbar-text navbar-margin-btn">
		        <button type="button" class="btn btn-default navbar-btn">
		        Logout
		        </button>
		      </a>
		      {% endif %}

	</div>
</div>



