{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
{% include "nav.html" %}

{% if 'username' not in session %}

  <!-- Begin Facebook Login -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '738903766305602',
        cookie: true, // enable cookies to allow the server to access the session.
        xfbml: true, // parse social plugins on this page
        version: 'v2.8' // use version 2.8
      });
    };

    // Load the SDK asynchronously
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log('Welcome! Fetching your access token... ');
      console.log(access_token);
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        $.ajax({
          type: 'POST',
          url: '/fbconnect?state={{STATE}}',
          processData: false,
          data: access_token,
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
              setTimeout(function() {
                window.location.href = "/catalog";
              }, 4000);
            }
          }
        });
      });
    }
  </script>
  <!-- End Facebook Login -->

<section id="login" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Login</h1>
            </div>
        </div>

        <div class="row padding-top-20">
            <div class="container">
                <!--gplus signin-->
                <div id="signInButton">
                  <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="376642414498-p2fuhgvovjjahkdk0t746f2ccnmd9ao4.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                  </span>
                </div>
                  <button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
      <a href="javascript:sendTokenToServer()">Login with Facebook</a>
    </fb:login-button>
  </button>
                <!--/gplus signin-->
            </div>
        </div>
    </div>
</section>

<section id="login-success" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div id="result"></div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% endif %}


{% endblock %}